@{
    ViewData["Title"] = "Prueba de integración continua GIT";
    
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a la integración continua con GIT</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
