@model IEnumerable<Curso>
@{
    ViewData["Title"] = "Inforamación Curso";
    Layout = "_Simple";
}

<h1>@ViewData["Title"]</h1>

<strong>Desde la vista parcial</strong>

<partial name="_ListaObjetoEscuela" ></partial>

<p><i>@ViewBag.Fecha</i></p>